.about-us-parent {
  background-color: var(--color-white);
  height: 6784px;
  overflow: hidden;
}
.about-us-parent,
.frame-parent,
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 2323px;
}
.navbar-wrapper {
  height: 133.4px;
  overflow: hidden;
}
.frame-parent {
  height: 6784px;
}
.group-parent {
  position: relative;
  width: 100%;
  height: 6722px;
}
